<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCHKUd9PbMyPB5NNa85aQAjrxxj1SImluU",
    authDomain: "molybdenum.uk",
    projectId: "molybdenum-85789",
    storageBucket: "molybdenum-85789.appspot.com",
    databaseURL: "https://molybdenum-85789-default-rtdb.europe-west1.firebasedatabase.app",
    messagingSenderId: "207285557646",
    appId: "1:207285557646:web:9a4a9bb78cb3b97bc12cdf",
    measurementId: "G-ZG3HLW2TME"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

<script src="/app.js" defer></script>
